.quantity-control {
    overflow: hidden;
}

.quantity-control .btn:hover {
    background-color: var(--borde) !important;
}

/* Estilo para el horario seleccionado */
.time-slot.active-slot {
    background-color: var(--blanco) !important;
    color: var(--azul) !important;
    border-color: var(--azul) !important;
    border-width: 1px !important;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.04);
}

/* Forzar fondo azul claro y texto azul en la cabecera de la tabla */
.table thead, .table thead th {
    background-color: var(--primary-soft) !important;
    color: var(--azul) !important;
}

/* Forzar color azul en el título de Pickup */
.pickup-title {
    color: var(--azul) !important;
}